    * {
    margin: 0px;
    padding: 0px;
    }
    body {
    margin:0;
    padding: 0;
    background: orange;
    display:block;   
    }   
    
.barra-menu{
    background-color: #808080;
    height: 50px;
    display: flex;
    justify-content: center;
}

    .background{
    background-image: url('logotipo.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .bandeiras{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    #container.espaço a ul li{
    display: flex;
    width:100%;   
    }  
    
    section{
    cursor:default;
    }

    .texto{
    font-family: "3D LET (BRK)";
    font-size: 80pt;
    }
    
    legend{
    text-align:center;   
    } 

    form{
    background-color:#A9A9A9;
    color:yellow;
    float: left;
    left:100%;
    width:50%; 
    text-align:center;
    font-family:Arial;
    }
    
    .quemsomos{ 
    background-color:#A9A9A9;    
    color:yellow;
    float: left;
    right:100%;
    width:50%;
    font-family:Arial;
    font-weight: 700;
    }

    .div-quemsomos{
        display: flex;
        flex-direction: column;
        justify-content: justify;
        align-items: center;
    }

    .p-quemsomos{
        margin-top: 20px;
        width: 365.25px;
        height: 325px;
    }

    .p-quemsomos img{
        margin-bottom: 30px;
    }

    img{
        object-position: center;
    }

    .enderecos{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    iframe{
    width:600;
    height:400;    
    font:Arial;
    float: right;
    }
    
    p{   
        background-color:gray;
        color:yellow;
        width:100%;
        height:400px;    
        font:Arial;
        float: right;
        
        text-decoration:none;
        justify-content: justify;
    }

    #container ul{
    list-style:none;
    text-decoration:none;
    }
    
    #container ul li{
    color:#696969;
    background-color:gray;
    width:150px;
    height:50px;
    line-height:50px;
    text-align:center;
    text-decoration:none;
    float:left;
    color:yellow;
    font-family:Arial;
    font-size:15px;
    position:relative;
    opacity:0.9;
    }
    
    #container ul li:hover{
    background-color:gray;
    font-family:Arial;
    text-decoration:none;
    }
    
    #container ul td:hover{
    text-decoration:none;
    font-family:Arial;
    position:relative;
    }
    
    #container ul ul{
    display:none;
    text-decoration:none;
    }
    
    #container ul li:hover > ul{
    display:block;
    text-decoration:none;
    }
    
    #container ul ul ul{
    margin-left:100%;
    top:0px;
    position:absolute;
    font-family:Arial;
    text-decoration:none;
    }
    
    .a{
    margin:center;   
    }

    .quadrado{
        background-color: #A9A9A9;
        height:160%;
    }

    a:link{
    color:yellow;
    text-decoration:none;
    }
    
    a:visited{
    color:yellow;
    text-decoration:none;
    }
    
    a:hover{
    color:yellow;
    text-decoration:none;
    }
    
    a:active{
    color:yellow;
    text-decoration:none;
    }

    section{
        width:100px;
        color:#31e84c;
        font-family:digital-7;
        font-size:33px;
        text-align:center;
        margin:left auto;
        text-decoration:none;
        }

        .slide{
            width:800px;
            height:400px;
            background: url(1.jpg);
            margin: 0px;
            animation: slide 20s infinite;
        }
            
        @keyframes slide{
        
            25%{ 
            background: url(1.JPG);
            width:800px;
            height:400px;
            margin: 0px auto;
            background-size: cover;
            background-repeat: no-repeat;
            }
            
            50%{ 
            background: url(2.jpg);
            width:800px;
            height:400px;
            margin: 0px auto;
            background-size: cover;
            background-repeat: no-repeat;
            }
            
            75%{ 
            background: url(3.jpg);
            width:800px;
            height:400px;
            margin: 0px auto;
            background-size: cover;
            background-repeat: no-repeat;
            }
        
            100%{ 
            background: url(Plantas.jpg);
            width:800px;
            height:400px;
            margin: 0px auto;
            background-size: cover;
            background-repeat: no-repeat;
            }
        }