body{
    margin: 0;
}

h1{
    margin: 0;
    font-size: 72pt;
    font-weight: lighter;
}

header{
    align-items: center;
    background-image: url('imagens/logotipo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 25vh;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.span-header{
    color: yellow;
}